<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Transaction Details</title>
  <link rel="stylesheet" href="/css/transactions.css"/>
</head>
<body>
<div class= "transaction" th:if="${transaction != null}">
  <h1 class="transaction-header">
    Transaction ID: <span th:text="${transaction.id}"></span>
    (<span th:text="${transaction.type == 'C' ? 'Credit' : 'Debit'}"></span>)</h1>
  <p><strong>Date:</strong> <span th:text="${transaction.date}"></span></p>
  <p><strong>Amount:</strong> <span th:if="${transaction.type == 'C'}">-</span><span th:text="${transaction.amount}"></span></p>
  <p><strong>Description:</strong> <span th:text="${transaction.retailer}"></span></p>
  <a href="/transactions" style="margin-right: 2em;">back</a>
</div>
<div th:if="${transaction == null}">
  <p>Transaction not found.</p>
  <a href="/transactions" style="margin-right: 2em;">back</a>
</div>
</body>
</html>